@media print {
    #editor_tabs,
    #runtime_tabs,
    action_group,
    .tab-content>action_group.active,
    .tab-content>div,
    .tab-content>div.active,
    #actions_tab_link {
        display: none;
    }
    .tab-content>preview.tab-pane {
        display: block;
        h2 {
            a.btn {
                display: none;
            }
        }
    }
}