.manifest-group.col-md-12("*ngFor"="let t of getTagsFor(manifest)")
	section.well
		h2 {{t}}
		table.table-condensed
			thead
				tr
					th Name
					th Group
					th Status
					th MIME Type
					th Special
			tbody

				ng-container("*ngFor"="let i of manifest.tags.get(t)")              
					tr("*ngIf"="showItem(i)" "[class.highlight]"="filter.length > 0")
						td
							a("*ngIf"="i.path" "[href]"="repository + '/' + i.path" target="_blank")
								//- i.glyphicon.glyphicon-download
								| {{i.name}}
							a("*ngIf"="i.url" "[href]"="i.url" target="_blank")
								//- i.glyphicon.glyphicon-link
								| {{i.name}}
						td {{i.group}}
						td {{i.status}}
						td {{mimeTypeToName(i.mimeType)}}
						td
							a("*ngIf"="isKnartMimeType(i.mimeType)" target="_blank" "[routerLink]"="['/']" "[queryParams]"="{ url: (i.url || (repository + '/' + i.path))}")
									i.glyphicon.glyphicon-folder-open
