h3 {{actionGroup.title}}

h4("*ngIf"="actionGroup.representedConcepts.length > 0") Represented Concepts
.row("*ngIf"="actionGroup.representedConcepts.length > 0")
    .col-sm-4.coverage("*ngFor"="let rc of actionGroup.representedConcepts")
        .well
            h4
                | {{rc.displayName}}
            small
                | {{rc.codeSystemName}}
                i , system:
                |  {{rc.codeSystem}}
                i , code:
                |  {{rc.code}}

.actions
    .action("*ngIf"="actionGroup.subElements.length > 0")
      .well("*ngFor"="let action of actionGroup.subElements")
        .declare_response_action("*ngIf"="isDeclareResponseAction(action)")
            h3 {{action.name}} (Response Declaration)
        .collect_information_action("*ngIf"="isCollectInformationAction(action)")
            h3 {{action.prompt}} (Information Collection)
            .row
                .col-sm-6
                    p
                        b Text equivalent:
                        |  {{action.textEquivalent}}
                    dl.dl-horizontal
                        dt Cardinality
                        dd {{action.responseCardinality}}
                        dt Data Type
                        dd {{action.responseDataType}}
                        dt Response Binding
                        dd {{action.responseBinding}}
                        dt Minimum
                        dd {{action.responseMinimum}}
                        dt Maximum
                        dd {{action.responseMaximum}}

                .col-sm-6
                    h4 Question Codes
                    table.table.table-condensed.table-striped
                        thead
                            tr
                                th Code
                                th Code System
                                th System Name
                        tbody
                            tr("*ngFor"="let ic of action.itemCodes")
                                td {{ic.code}}
                                td {{ic.codeSystem}}
                                td {{ic.codeSystemName}}
                .col-sm-12
                    b Initial Value Type:
                    | {{action.initialValueType}}
                    h4 Initial Value Expression
                    pre(type="xml") {{action.initialValue}}

                .col-sm-12
                    h4 Enumerated Responses &amp; Codes
                    table.table.table-condensed.table-striped
                        thead
                            tr
                                th Type
                                th Value
                                th Value Type
                                th Display Text
                                th Codes
                        tbody
                            tr("*ngFor"="let ri of action.responseItems")
                                td {{ri.type}}
                                td {{ri.value}}
                                td {{ri.valueType}}
                                td {{ri.displayText}}
                                td
                                    p("*ngFor"="let ic of ri.itemCodes")
                                        b {{ic.codeSystemName}} {{ic.code}}
                                        i  (system: {{ic.codeSystem}})

        .create_action("*ngIf"="isCreateAction(action)")
            h3 (Create Action)
            .row
              .col-sm-12
                    b Sentence Type:&nbsp;
                    | {{action.sentenceType}}
                    h4 Sentence
                    pre(type="xml") {{action.sentence}}
        .action_group("*ngIf"="isActionGroup(action)")
            h3("*ngIf"="action.prompt") {{action.prompt}} (Sub Group)
            preview_action_group("[knart]"="knart" "[actionGroup]"="action")
