toaster-container
#browser
    .jumbotron("*ngIf"="!manifest")
        .well
            h1 No repository provided.
            p.lead You've launched the repository browser without a working or accessible repository URL. Please see the KNARTwork project documentation for properly using this page.

    div("*ngIf"="manifest")
        .jumbotron
            h1 {{manifest.name}}
            p {{manifest.description}}
            .form-group
               .input-group-prepend
                    input.input-lg.form-control("name"="filter" "autofocus"="true" "[(ngModel)]"="filter" placeholder="filter")
        .row
            ul.nav.nav-tabs(role="tablist")
                li.nav-item
                    a#group_tab.nav-link.active(href="#group" role="tab" data-toggle="tab" aria-selected="true") Groups
                li.nav-item
                    a#type_tab.nav-link(href="#type" role="tab" data-toggle="tab" aria-selected="false") Content Type
                li.nav-item
                    a#tag_tab.nav-link(href="#tag" role="tab" data-toggle="tab" aria-selected="false") Tag
            br
            .tab-content
                #group.tab-pane.show.active(role="tabpanel" aria-labelledby="group_tab")
                    include browser/groups
                #type.tab-pane(role="tabpanel" aria-labelledby="type_tab")
                    include browser/types
                #tag.tab-pane(role="tabpanel" aria-labelledby="tag_tab")
                    include browser/tags
