.jumbotron(ngIf="!manifest")
h1 No repository provided.
    .lead You've launched the repository browser without a working or accessible repository URL. Please see the KNARTwork project documentation for properly using this page.
div(ngIf="manifest")
    h1 {{manifest.name}}
    p {{manifest.description}}

    .row
        .col-md-4.well("ngFor"="let i of manifest.items")
            h2 {i.name}
            p {i.type}
            div(ngIf="i.knart")
                a.btn.btn-default(target="_blank" [href] = "repository + '/' + i.knart") Load
            div(ngIf="!i.knart")
                i KNART location unknown.
