.container-fluid
    a.btn.btn-primary.pull-right("(click)"="createCoverage()")
        span.glyphicon.glyphicon-plus
        |  Add
    p.text-muted Defining how this document relates to various standards allows the artifact to be indexed for semantic search.
    br.clearfix

    #coverages("*ngIf"="knart.coverages.length > 0")
        .coverage.well("*ngFor"="let c of knart.coverages")
            .btn-group.pull-right
                a.btn.btn-small.btn-primary("(click)"="moveUp(c, knart.coverages)" "*ngIf"="canMoveUp(c, knart.coverages)")
                    span.glyphicon.glyphicon-chevron-up
                a.btn.btn-small.btn-primary("(click)"="moveDown(c, knart.coverages)" "*ngIf"="canMoveDown(c, knart.coverages)")
                    span.glyphicon.glyphicon-chevron-down
                a.btn.btn-small.btn-danger("(click)"="deleteCoverage(c)")
                    span.glyphicon.glyphicon-trash
            .clearfix
            form.form.row
                .col-sm-12.form-group
                    label(for="coverage_focus") Focus
                    input.form-control(name="coverage_focus" type="text" "[(ngModel)]"="c.focus" placeholder="PatientAgeGroup" required="true")
                .col-sm-12.form-group
                    label(for="coverage_description") Description
                    textarea.form-control(name="coverage_description" type="text" "[(ngModel)]"="c.description" placeholder='Population between the age of 2 months to 7 years')
                    p.text-muted This is the ELM expression (or similar blurb) that defines how the data will be bound at runtime.
                .col-sm-6.form-group
                    label(for="coverage_value_code") Code
                    input.form-control(name="coverage_value_code" type="text" "[(ngModel)]"="c.value.code" placeholder="D002675")
                .col-sm-6.form-group
                    label(for="coverage_value_code_system") Code System
                    input.form-control(name="coverage_value_code_system" type="text" "[(ngModel)]"="c.value.codeSystem" placeholder="2.16.840.1.113883.11.75")
                .col-sm-6.form-group
                    label(for="coverage_value_code_system_name") System Name
                    input.form-control(name="coverage_value_code_system_name" type="text" "[(ngModel)]"="c.value.codeSystemName" placeholder="MeSH - AgeGroupObservationValue")
                .col-sm-6.form-group
                    label(for="coverage_value_display_name") Display Name
                    input.form-control(name="coverage_value_display_name" type="text" "[(ngModel)]"="c.value.displayName" placeholder="child, preschool; 2 to 5 years")
