.container-fluid
    a.btn.btn-primary.pull-right("(click)"="createLifeCycleEvent()")
        span.glyphicon.glyphicon-plus
        |  Add
    p.text-muted The audit trail of the artifact.
    br.clearfix

    #lifeCycleEvents("*ngIf"="knart.lifeCycleEvents.length > 0")
        .lifeCycleEvent.well("*ngFor"="let e of knart.lifeCycleEvents")
            .btn-group.pull-right
                a.btn.btn-small.btn-primary("(click)"="moveUp(e, knart.lifeCycleEvents)" "*ngIf"="canMoveUp(e, knart.lifeCycleEvents)")
                    span.glyphicon.glyphicon-chevron-up
                a.btn.btn-small.btn-primary("(click)"="moveDown(e, knart.lifeCycleEvents)" "*ngIf"="canMoveDown(e, knart.lifeCycleEvents)")
                    span.glyphicon.glyphicon-chevron-down

                a.btn.btn-small.btn-danger("(click)"="deleteLifeCycleEvent(e)")
                    span.glyphicon.glyphicon-trash
            .clearfix
            form.form.row
                .col-sm-6.form-group
                    label(for="life_cycle_event_type") Type
                    select.form-control(name="life_cycle_event_type" "[(ngModel)]"="e.type")
                        option("[value]"="type" "[selected]"="e.type == type" "*ngFor"="let type of lifeCycleEventTypes()") {{type}}
                .col-sm-6.form-group
                    label(for="life_cycle_event_datetime") Datetime
                    input.form-control(name="life_cycle_event_datetime" type="text" "[(ngModel)]"="e.datetime" required="true")
