include layout/navigation

.container-fluid("*ngIf"="!knart")
    .row
        .col-lg-6.col-lg-offset-3
            #loader.text-center
                h1 Let's start!
                //- p either
                hr
                button.btn.btn-lg("(click)"="createFromTemplate()")
                    span.glyphicon.glyphicon-plus
                    | Create a new KNART.
                br
                small
                    i ..or..

                .form-group
                    label
                        span.glyphicon.glyphicon-folder-open
                        |  Load an existing KNART XML file.
                    br
                    input.text-center(type='file' accept='.knart,.xml' "(change)"='openFile($event)')


.container-fluid("*ngIf"="knart")
    .row
        .col-lg-6
            #editor_tabs(role="tabpanel")
                ul.nav.nav-tabs(role="tablist")
                    li(role="presentation" "[class.active]"="editor_tab == 'metadata'")
                        a#metadata_tab_link(aria-controls="metadata" data-toggle="editor_tab" "(click)"="editor_tab = 'metadata'" role="tab" aria-expanded="true")
                            span.glyphicon.glyphicon-pencil Metadata
                    li(role="presentation" "[class.active]"="editor_tab == 'contributions'")
                        a#contributions_tab_link(aria-controls="contributions" data-toggle="editor_tab" "(click)"="editor_tab = 'contributions'" role="tab" aria-expanded="true")
                            span.glyphicon.glyphicon-users Contributions
                    li(role="presentation" "[class.active]"="editor_tab == 'actions'")
                        a#actions_tab_link(aria-controls="actions" data-toggle="editor_tab" "(click)"="editor_tab = 'actions'" role="tab" aria-expanded="true")
                            span.glyphicon.glyphicon-th-list Actions
                .tab-content
                    metadata.tab-pane(role="tabpanel" "[class.active]"="editor_tab == 'metadata'" "[knart]"="knart")
                    contributions.tab-pane(role="tabpanel" "[class.active]"="editor_tab == 'contributions'" "[knart]"="knart")
                    .tab-pane(role="tabpanel" "[class.active]"="editor_tab == 'actions'")
                        h2 todo
        .col-lg-6
            #viewer_tabs(role="tabpanel")
                ul.nav.nav-tabs(role="tablist")
                    li(role="presentation" "[class.active]"="viewer_tab == 'preview'")
                        a#preview_tab_link(aria-controls="preview" data-toggle="viewer_tab" "(click)"="viewer_tab = 'preview'" role="tab" aria-expanded="true")
                            span.glyphicon.glyphicon-eye-open Preview
                    li(role="presentation" "[class.active]"="viewer_tab == 'xml'")
                        a#actions_tab_link(aria-controls="xml" data-toggle="viewer_tab" "(click)"="viewer_tab = 'xml'" role="tab" aria-expanded="true")
                            span.glyphicon.glyphicon-chevron-left XML
                .tab-content
                    .tab-pane(role="tabpanel" "[class.active]"="viewer_tab == 'preview'")
                    .tab-pane(role="tabpanel" "[class.active]"="viewer_tab == 'xml'")
                        pre(lang="xml") {{originalXMLString}}
