<nav class="navbar navbar-expand-lg bg-light" *ngIf="knart">

    <div class="container-fluid">
        <div class="navbar-brand">KNART<span class="text-info">work</span><span class="subtitle"> knowledge artifact
                editor</span></div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="bi bi-file-earmark"></span> File
                    </a>
                    <ul class="dropdown-menu">

                        <li><a class="dropdown-item" href="#" (click)="download()"><span
                                    class="bi bi-cloud-download"></span>
                                Download</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="revert()" [class.disabled]="!canRevert()"><span
                                    class="bi bi-arrow-clockwise"></span>
                                Revert</a></li>
                        <li><a class="dropdown-item" href="#" (click)="reset()"><span class="bi bi-trash"></span>
                                Close</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="bi bi-cup-hot"></span> Learn
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-item"><a href="http://www.hl7.org/implement/standards/product_brief.cfm?product_id=337" target="_blank"><span class="bi bi-globe"></span> HL7 CDS Knowledge
                                Artifacts</a></li>
                        <li class="dropdown-item"><a href="https://www.hl7.org/fhir/2016Sep/clinicalreasoning-module.html" target="_blank"><span class="bi bi-fire"></span> HL7 FHIR Clinical
                                Reasoning</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-item">
                            <a href="#" (click)="loadRemoteFile('/assets/examples/hl7-cds-ka-r1.3/FLACC_DocTemplate.xml')">
                                <span class="bi bi-file-earmark"></span> Example: Documentation Template: FLACC</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#" (click)="loadRemoteFile('/assets/examples/hl7-cds-ka-r1.3/UTI_DocTemplate.xml')">
                                <span class="bi bi-file-earmark"></span> Example: Documentation Template: UTI</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="#" (click)="loadRemoteFile('/assets/examples/hl7-cds-ka-r1.3/PHQ9_DocTemplateWithAssessment.xml')"><span
                                    class="bi bi-file-earmark"></span> Example: Documentation Template: PHQ-9 Assessment</a></li>
                        <li class="dropdown-item">
                            <a href="#" (click)="loadRemoteFile('/assets/examples/hl7-cds-ka-r1.3/NQF0024A_NQF0421.xml')"><span
                                    class="bi bi-file-earmark"></span> Example: Rule: Weight Assessment and Counseling</a></li>
                        <li class="dropdown-item">
                            <a href="#" (click)="loadRemoteFile('/assets/examples/hl7-cds-ka-r1.3/newMentor_HeD_NQF0068_ECArule_example.xml')"><span
                                    class="bi bi-file-earmark"></span> Example: Rule: Ischemic Vascular Disease</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-item"><a href="https://github.com/cqframework/knartwork" target="_blank"><span class="bi bi-bug"></span> Bug Reports &amp; Feature
                                Requests</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>

<div class="container-fluid" *ngIf="!knart">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div id="loader">
                <div class="text-center mb-6">
                    <h1>Start fresh and..</h1><button class="btn btn-lg btn-dark" (click)="createFromTemplate()"><span
                            class="bi bi-plus"></span> Create a new knowledge artifact.</button>
                </div>
                <hr />
                <div class="text-center mb-6">
                    <h1><span class="bi bi-cloud"></span> ..or load from the web</h1>
                    <div class="row">
                        <div class="col-sm-9 input-group">
                            <input class="form-control" name="remote_url" type="text" [(ngModel)]="remoteUrl" placeholder="http://example.com/awesome-knart.xml" />
                            <button class="btn btn-outline-dark" (click)="loadRemoteUrl()">Load it!</button>
                        </div>
                        <div class="col-sm-12"><i>Works "inside the firewall"!</i></div>
                    </div>
                </div>
                <hr />
                <form class="form">
                    <h1 class="text-center"><span class="bi bi-file-earmark"></span> ..or a local file.
                    </h1>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Format</span>
                        <select class="form-select" id="loader_type_select" name="documentType" [(ngModel)]="documentFormat">
                            <option [value]="f" [selected]="documentFormat == f" *ngFor="let f of documentFormats()">
                                {{f.label}}</option>
                        </select>
                    </div>
                    <div class="input-group justify-content-center">
                        <!-- <span class="bi bi-file-earmark"></span> -->
                        <input class="form-control" type="file" accept=".knart,.xml,.json" (change)="openFile($event)" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-3" *ngIf="knart">
    <div class="row">
        <div class="col-md-6">
            <div id="editor_tabs" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" [class.active]="editor_tab == 'metadata'">
                        <a id="metadata_tab_link" class="nav-link" aria-controls="metadata" data-toggle="editor_tab" (click)="tabClicked('metadata')" role="tab" aria-expanded="true"><span
                                class="bi bi-pencil"></span> Basics</a>
                    </li>
                    <li role="presentation" [class.active]="editor_tab == 'contributions'"><a id="contributions_tab_link" class="nav-link" aria-controls="contributions" data-toggle="editor_tab" (click)="tabClicked('contributions')" role="tab" aria-expanded="true"><span class="bi bi-user"></span> Contributions</a></li>
                    <li role="presentation" [class.active]="editor_tab == 'model_references'">
                        <a id="model_references_tab_link" class="nav-link" aria-controls="model_references" data-toggle="editor_tab" (click)="tabClicked('model_references')" role="tab" aria-expanded="true"><span class="bi bi-paperclip"></span> Model Refs</a>
                    </li>
                    <li role="presentation" [class.active]="editor_tab == 'supporting_evidence'">
                        <a id="supporting_evidence_tab_link" class="nav-link" aria-controls="supporting_evidence" data-toggle="editor_tab" (click)="tabClicked('supporting_evidence')" role="tab" aria-expanded="true"><span class="bi bi-education"></span> Evidence</a>
                    </li>
                    <li role="presentation" [class.active]="editor_tab == 'related_resources'">
                        <a id="related_resources_tab_link" class="nav-link" aria-controls="related_resources" data-toggle="editor_tab" (click)="tabClicked('related_resources')" role="tab" aria-expanded="true"><span class="bi bi-book"></span> Related Sources</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <metadata class="tab-pane" role="tabpanel" [class.active]="editor_tab == 'metadata'" [knart]="knart"></metadata>
                    <contributions class="tab-pane" role="tabpanel" [class.active]="editor_tab == 'contributions'" [knart]="knart"></contributions>
                    <model_references class="tab-pane" role="tabpanel" [class.active]="editor_tab == 'model_references'" [knart]="knart"></model_references>
                    <supporting_evidence class="tab-pane" role="tabpanel" [class.active]="editor_tab == 'supporting_evidence'" [knart]="knart"></supporting_evidence>
                    <related_resources class="tab-pane" role="tabpanel" [class.active]="editor_tab == 'related_resources'" [knart]="knart"></related_resources>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="runtime_tabs" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" [class.active]="runtime_tab == 'conditions'"><a id="conditions_tab_link" class="nav-link" aria-controls="conditions" data-toggle="runtime_tab" (click)="runtime_tab = 'conditions'" role="tab" aria-expanded="true"><span
                                class="bi bi-flash"></span>
                            Conditions</a></li>
                    <li class="nav-item" [class.active]="runtime_tab == 'external_data'"><a id="external_data_tab_link" class="nav-link" aria-controls="external_data" data-toggle="runtime_tab" (click)="runtime_tab = 'external_data'" role="tab" aria-expanded="true"><span
                                class="bi bi-link"></span> Data Binding</a></li>
                    <li class="nav-item" [class.active]="runtime_tab == 'expressions'"><a id="expressions_tab_link" class="nav-link" aria-controls="expressions" data-toggle="runtime_tab" (click)="runtime_tab = 'expressions'" role="tab" aria-expanded="true"><span
                                class="bi bi-console"></span>
                            Expressions</a></li>
                    <li class="nav-item" [class.active]="runtime_tab == 'coverages'"><a id="coverages_tab_link" class="nav-link" aria-controls="coverages" data-toggle="runtime_tab" (click)="runtime_tab = 'coverages'" role="tab" aria-expanded="true"><span
                                class="bi bi-check"></span>
                            Applicability</a></li>
                    <li class="nav-item" [class.active]="runtime_tab == 'history'"><a id="coverages_tab_link" class="nav-link" aria-controls="history" data-toggle="runtime_tab" (click)="runtime_tab = 'history'" role="tab" aria-expanded="true"><span
                                class="bi bi-list"></span> History</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <conditions class="tab-pane" role="tabpanel" [class.active]="runtime_tab == 'conditions'" [knart]="knart"></conditions>
                    <external_data class="tab-pane" role="tabpanel" [class.active]="runtime_tab == 'external_data'" [knart]="knart"></external_data>
                    <expressions class="tab-pane" role="tabpanel" [class.active]="runtime_tab == 'expressions'" [knart]="knart"></expressions>
                    <coverages class="tab-pane" role="tabpanel" [class.active]="runtime_tab == 'coverages'" [knart]="knart"></coverages>
                    <history class="tab-pane" role="tabpanel" [class.active]="runtime_tab == 'history'" [knart]="knart">
                    </history>
                </div>
            </div>
        </div>
        <p class="clearfix"></p>
        <div class="col-md-12">
            <div id="viewer_tabs" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" [class.active]="viewer_tab == 'action_group'"><a id="actions_tab_link" class="nav-link" aria-controls="action_group" data-toggle="viewer_tab" (click)="viewer_tab = 'action_group'" role="tab" aria-expanded="true"><span
                                class="bi bi-list"></span> Actions</a>
                    </li>
                    <li role="presentation" [class.active]="viewer_tab == 'preview'"><a id="preview_tab_link" class="nav-link" aria-controls="preview" data-toggle="viewer_tab" (click)="viewer_tab = 'preview'" role="tab" aria-expanded="true"><span
                                class="bi bi-eye-open"></span> Preview</a></li>
                    <li role="presentation" [class.active]="viewer_tab == 'original'"><a id="actions_tab_link" class="nav-link" aria-controls="original" data-toggle="viewer_tab" (click)="viewer_tab = 'original'" role="tab" aria-expanded="true"><span
                                class="bi bi-chevron-left"></span>
                            Original XML</a></li>
                </ul>
                <div class="tab-content">
                    <action_group class="tab-pane" role="tabpanel" [class.active]="viewer_tab == 'action_group'" [knart]="knart" [actionGroup]="knart.actionGroup"></action_group>
                    <preview class="tab-pane" role="tabpanel" [class.active]="viewer_tab == 'preview'" [knart]="knart">
                    </preview>
                    <div class="tab-pane" role="tabpanel" [class.active]="viewer_tab == 'original'">
                        <div class="container-fluid">
                            <pre *ngIf="originalContentString" lang="xml">{{originalContentString}}</pre><i class="text-muted" *ngIf="!originalContentString"><small>(only applies to artifacts
                                    loaded from a local file)</small></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class="clearfix"></p>
    </div>
</div>