.container-fluid
    form
        .form-group
            label(for="title") Title
            input.form-control(type="text" name="title" "[(ngModel)]"="knart.title" placeholder="My New Artifact" required="true" autofocus="true")
            p.text-muted Keep it short.
        .form-group
            label(for="title") Description
            textarea.form-control(name="description" "[(ngModel)]"="knart.description" placeholder="Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.")
            p.text-muted Free-from plaintext blurb. No length restriction, though formatting is not supported.
        .form-group
            label(for="title") Schema Identifier
            input.form-control(type="text" name="schemaIdentifier" "[(ngModel)]"="knart.schemaIdentifier" required="true")
            p.text-muted Don't mess with this unless you know what you're doing.
        .form-group
            label Status
            select.form-control#artifact_status_select(name="status" "[(ngModel)]"="knart.status")
                option("[value]"="s.code" "[selected]"="knart.status == s.code" "*ngFor"="let s of knart.statuses()") {{s.label}}
        .form-group
            label Document Type
            //- select.form-control#artifact_type_select("(change)"="select($event.target.value)")
            select.form-control#artifact_type_select(name="artifactType" "[(ngModel)]"="knart.artifactType")
                option("[value]"="t.code" "[selected]"="knart.artifactType == t.code" "*ngFor"="let t of knart.artifactTypes()") {{t.label}}

    hr
    a.btn.btn-primary.pull-right("(click)"="createIdentifier()")
        span.glyphicon.glyphicon-plus
        |  Add
    h4 Identifiers
    p.text-muted Any authoritative IDs for the entirety of this artifact may be declared here.
    br.clearfix

    .identifiers("*ngIf"="knart.identifiers.length > 0")
        .identifier("*ngFor"="let i of knart.identifiers")
            form.form.row
                .col-sm-6.form-group
                    //- label(for="identifier_root") Root
                    input.form-control(name="identifier_root" type="text" "[(ngModel)]"="i.root" placeholder="e.g. deadbeef-b8b5-11e6-80f5-76304dec7eb7" required="true")
                .col-sm-2.form-group
                    //- label(for="identifier_version") Version
                    input.form-control(name="identifier_version" type="text" "[(ngModel)]"="i.version" placeholder="Version (e.g. 0)")
                .col-sm-4.btn-group
                    a.btn.btn-small.btn-primary("(click)"="moveUp(i, knart.identifiers)" "*ngIf"="canMoveUp(i, knart.identifiers)")
                        span.glyphicon.glyphicon-chevron-up
                    a.btn.btn-small.btn-primary("(click)"="moveDown(i, knart.identifiers)" "*ngIf"="canMoveDown(i, knart.identifiers)")
                        span.glyphicon.glyphicon-chevron-down
                    a.btn.btn-small.btn-danger("(click)"="deleteIdentifier(i)")
                        span.glyphicon.glyphicon-trash
