<div class="container-fluid">
    <a class="btn btn-primary float-end" (click)="createModelReference()"><span
            class="bi bi-plus"></span> Add</a>
    <div class="form-text">Any external data sets that you need to reference should be declared here.</div><br class="clearfix" />
    <div id="modelReferences" *ngIf="knart && knart.modelReferences.length > 0">
        <div class="modelReference well mb-3 p-3" *ngFor="let mr of knart.modelReferences">

            <div class="btn-group float-end mb-3">
                <a class="btn btn-small btn-primary" (click)="moveUp(mr, knart.modelReferences)" *ngIf="canMoveUp(mr, knart.modelReferences)"><span class="bi bi-chevron-up"></span></a>
                <a class="btn btn-small btn-primary" (click)="moveDown(mr, knart.modelReferences)" *ngIf="canMoveDown(mr, knart.modelReferences)"><span class="bi bi-chevron-down"></span></a>
                <a class="btn btn-small btn-danger" (click)="deleteModelReference(mr)"><span class="bi bi-trash"></span></a>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control" name="model_reference_value" type="text" [(ngModel)]="mr.referencedModel" placeholder="urn:hl7-org:vmr:r2" required="true" />
                <label for="model_reference_value">Value</label>
            </div>

            <div class="form-floating mb-3">
                <textarea class="form-control" name="model_reference_description" type="text" [(ngModel)]="mr.description" placeholder="Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Maecenas faucibus mollis interdum. Donec ullamcorper nulla non metus auctor fringilla."></textarea>
                <label for="model_reference_description">Description</label>
            </div>

        </div>
    </div>
</div>