.container-fluid
    section
        h2
            a.pull-right.btn.btn-default.btn-small(type="button" data-toggle="collapse" data-target="#preview_metadata" aria-expanded="true" aria-controls="preview_metadata")
                span.glyphicon.glyphicon-option-vertical
            | Summary
        hr
        .collapse.in#preview_metadata
            h3
                | {{knart.title}}
                i  ({{knart.status}})
            p {{knart.description}}
            dl.dl-horizontal
                dt Schema
                dd {{knart.schemaIdentifier}}
                dt Type
                dd {{knart.artifactType}}


    section("*ngIf"="knart.relatedResources.length > 0")
        h2
            a.pull-right.btn.btn-default.btn-small(type="button" data-toggle="collapse" data-target="#preview_resources" aria-expanded="true" aria-controls="preview_resources")
                span.glyphicon.glyphicon-option-vertical
            | Resources
        hr
        .collapse.in#preview_resources
            div("*ngFor"="let rr of knart.relatedResources")
                i {{relationshipLabelForCode(rr.relationship)}}
                a("[href]"="rr.resource.location" target="_blank")
                    |  {{rr.resource.title}}
                br
                small {{rr.resource.description}}


    section("*ngIf"="knart.contributions.length > 0")
        h2
            a.pull-right.btn.btn-default.btn-small(type="button" data-toggle="collapse" data-target="#preview_contributions" aria-expanded="true" aria-controls="preview_contributions")
                span.glyphicon.glyphicon-option-vertical
            | Contributions
        hr
        .collapse.in#preview_contributions
            div.well.row("*ngFor"="let contribution of knart.contributions")
                //- h3 \#{{knart.contributions.indexOf(c)}} {{c.name}}
                h3 {{contribution.role}}
                hr
                .col-md-6
                    h4 Names
                    ul
                        li("*ngFor"="let name of contribution.names") {{name.given}} {{name.family}}
                    h4 Addresses
                    address("*ngFor"="let address of contribution.addresses")
                        span {{address.street}}
                        br
                        span {{address.city}}, {{address.state}}
                        br
                        span {{address.zip}}, {{address.country}}
                .col-md-6
                    h4 Affiliations
                    ul
                        li("*ngFor"="let affiliation of contribution.affiliations") {{affiliation.name}}
                    h4 Contacts
                    .contact("*ngFor"="let contact of contribution.contacts") {{contact.use}}: {{contact.value}}


    section("*ngIf"="knart.modelReferences.length > 0")
        h2
            a.pull-right.btn.btn-default.btn-small(type="button" data-toggle="collapse" data-target="#preview_model_references" aria-expanded="true" aria-controls="preview_model_references")
                span.glyphicon.glyphicon-option-vertical
            | Model References
        hr
        .collapse.in#preview_model_references
            div("*ngFor"="let mr of knart.modelReferences")
                i {{mr.referencedModel}}
                br
                small {{mr.description}}


    section("*ngIf"="knart.supportingEvidence.length > 0")
        h2
            a.pull-right.btn.btn-default.btn-small(type="button" data-toggle="collapse" data-target="#preview_supporting_evidence" aria-expanded="true" aria-controls="preview_supporting_evidence")
                span.glyphicon.glyphicon-option-vertical
            | Supporting Evidence
        hr
        .collapse.in#preview_supporting_evidence
            ul
                li("*ngFor"="let se of knart.supportingEvidence") {{se.citation}}


    section("*ngIf"="knart.conditions.length > 0")
        h2
            a.pull-right.btn.btn-default.btn-small(type="button" data-toggle="collapse" data-target="#preview_conditions" aria-expanded="true" aria-controls="preview_conditions")
                span.glyphicon.glyphicon-option-vertical
            | Conditions
        hr
        .collapse.in#preview_conditions
            .condition("*ngFor"="let c of knart.conditions")
                .well
                    h4 {{c.role}}
                    pre(type="xml") {{c.logic}}

    section("*ngIf"="knart.externalData.length > 0")
        h2
            a.pull-right.btn.btn-default.btn-small(type="button" data-toggle="collapse" data-target="#preview_external_data" aria-expanded="true" aria-controls="preview_external_data")
                span.glyphicon.glyphicon-option-vertical
            | Data Binding
        hr
        .collapse.in#preview_external_data
            .external_data("*ngFor"="let ed of knart.externalData")
                h4 {{ed.name}}
                pre(type="xml") {{ed.content}}

    section("*ngIf"="knart.expressions.length > 0")
        h2
            a.pull-right.btn.btn-default.btn-small(type="button" data-toggle="collapse" data-target="#preview_expressions" aria-expanded="true" aria-controls="preview_expressions")
                span.glyphicon.glyphicon-option-vertical
            | Expressions
        hr
        .collapse.in#preview_expressions
            .expression("*ngFor"="let e of knart.expressions")
                h4 {{e.name}}
                pre(type="xml") {{e.logic}}

    section("*ngIf"="knart.coverages.length > 0")
        h2
            a.pull-right.btn.btn-default.btn-small(type="button" data-toggle="collapse" data-target="#preview_coverages" aria-expanded="true" aria-controls="preview_coverages")
                span.glyphicon.glyphicon-option-vertical
            | Applicability
        hr
        .collapse.in.row#preview_coverages
            .col-sm-4.coverage("*ngFor"="let c of knart.coverages")
                .well
                    h4
                        | {{c.value.displayName}}
                        i  ({{c.focus}})
                    small
                        | {{c.value.codeSystemName}}
                        i , system:
                        |  {{c.value.codeSystem}}
                        i , code:
                        |  {{c.value.code}}
                    p {{c.description}}
