.container-fluid
    section
        h2
            a.pull-right.btn.btn-default.btn-small(type="button" data-toggle="collapse" data-target="#preview_metadata" aria-expanded="true" aria-controls="preview_metadata")
                span.glyphicon.glyphicon-option-vertical
            | Summary
        hr
        .collapse.in#preview_metadata
            h3
                | {{knart.title}}
                i  ({{knart.status}})
            p {{knart.description}}
            dl.dl-horizontal
                dt Schema
                dd {{knart.schemaIdentifier}}
                dt Type
                dd {{knart.artifactType}}


    section
        h2
            a.pull-right.btn.btn-default.btn-small(type="button" data-toggle="collapse" data-target="#preview_resources" aria-expanded="true" aria-controls="preview_resources")
                span.glyphicon.glyphicon-option-vertical
            | Resources
        hr
        .collapse.in#preview_resources
            div("*ngFor"="let rr of knart.relatedResources")
                i {{relationshipLabelForCode(rr.relationship)}}
                a("[href]"="rr.resource.location" target="_blank")
                    |  {{rr.resource.title}}
                br
                small {{rr.resource.description}}


    section
        h2
            a.pull-right.btn.btn-default.btn-small(type="button" data-toggle="collapse" data-target="#preview_contributions" aria-expanded="true" aria-controls="preview_contributions")
                span.glyphicon.glyphicon-option-vertical
            | Contributions
        hr
        .collapse.in#preview_contributions
            div.well.row("*ngFor"="let contribution of knart.contributions")
                //- h3 \#{{knart.contributions.indexOf(c)}} {{c.name}}
                h3 {{contribution.role}}
                hr
                .col-md-6
                    h4 Names
                    ul
                        li("*ngFor"="let name of contribution.names") {{name.given}} {{name.family}}
                    h4 Addresses
                    address("*ngFor"="let address of contribution.addresses")
                        span {{address.street}}
                        br
                        span {{address.city}}, {{address.state}}
                        br
                        span {{address.zip}}, {{address.country}}
                .col-md-6
                    h4 Affiliations
                    ul
                        li("*ngFor"="let affiliation of contribution.affiliations") {{affiliation.name}}
                    h4 Contacts
                    .contact("*ngFor"="let contact of contribution.contacts") {{contact.use}}: {{contact.value}}


    section
        h2
            a.pull-right.btn.btn-default.btn-small(type="button" data-toggle="collapse" data-target="#preview_model_references" aria-expanded="true" aria-controls="preview_model_references")
                span.glyphicon.glyphicon-option-vertical
            | Model References
        hr
        .collapse.in#preview_model_references
            div("*ngFor"="let mr of knart.modelReferences")
                i {{mr.referencedModel}}
                br
                small {{mr.description}}


    section
        h2
            a.pull-right.btn.btn-default.btn-small(type="button" data-toggle="collapse" data-target="#preview_supporting_evidence" aria-expanded="true" aria-controls="preview_supporting_evidence")
                span.glyphicon.glyphicon-option-vertical
            | Supporting Evidence
        hr
        .collapse.in#preview_supporting_evidence
            ul
                li("*ngFor"="let se of knart.supportingEvidence") {{se.citation}}
