<div class="container-fluid">
    <a class="btn btn-primary float-end" (click)="createSupportingEvidence()"><span
            class="bi bi-plus"></span> Add</a>
    <div class="form-text">Literature in support of this artifact may be declared here.</div><br class="clearfix" />
    <div id="supportingEvidence" *ngIf="knart && knart.supportingEvidence.length > 0">
        <div class="supportingEvidence mb-3" *ngFor="let se of knart.supportingEvidence">
            <!-- <p class="clearfix"></p> -->
            <div class="input-group">
                <div class="form-floating">
                    <textarea class="form-control" name="model_reference_value" [(ngModel)]="se.citation" placeholder="Citation Text" required="true"></textarea>
                    <label for="model_reference_value">Citation Text</label>
                </div>

                <!-- <div class="btn-group float-end mb-3"> -->
                <a class="btn btn-primary" (click)="moveUp(se, knart.supportingEvidence)" *ngIf="canMoveUp(se, knart.supportingEvidence)"><span class="bi bi-chevron-up"></span></a>
                <a class="btn btn-primary" (click)="moveDown(se, knart.supportingEvidence)" *ngIf="canMoveDown(se, knart.supportingEvidence)"><span class="bi bi-chevron-down"></span></a>
                <a class="btn btn-danger" (click)="deleteSupportingEvidence(se)"><span class="bi bi-trash"></span></a>
                <!-- </div> -->


                <!-- <button class="btn btn-danger" (click)="deleteSupportingEvidence(se)"><span
                            class="bi bi-trash"></span></button> -->
            </div>
        </div>
    </div>
</div>