//- footer.footer
    hr
    p.text-center
        //- span
            a(href="#faq")
                span.icon.icon-question
                |  FAQ

        //- span
            a(href="#legal")
                span.glyphicon.glyphicon-legal
                |  Legal

        span
            a(href="https://github.com/preston/knartwork")
                span.glyphicon.glyphicon-file
                |  Source Code 

        span
            a(href="https://www.linkedin.com/in/prestonvictorlee")
                span.glyphicon.glyphicon-user
                |  Author
