nav.navbar.navbar-default("*ngIf"="knart")
    .container-fluid
        .navbar-header
            button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse-1")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            //- a.navbar-brand(href="/")
                |  Knartwork
            .navbar-brand
                | KNART
                span.text-info work
                //- | ::
                span.subtitle  community knowledge artifact editor

        div.collapse.navbar-collapse#navbar-collapse-1
            ul.nav.navbar-nav
                li.dropdown
                    a.dropdown-toggle(href="#" data-toggle="dropdown")
                        span.glyphicon.glyphicon-file
                        |  File
                        b.caret
                    ul.dropdown-menu(role="menu")
                        li
                            a(href="#" "(click)"="download()")
                                span.glyphicon.glyphicon-cloud-download
                                |  Download
                        li.divider
                        li
                            a("(click)"="revert()" "*ngIf"="canRevert()")
                                span.glyphicon.glyphicon-refresh
                                |  Revert
                        li
                            a(href="#" "(click)"="reset()")
                                span.glyphicon.glyphicon-trash
                                |  Close
                        //- li
                        //-     a("(click)"="")
                        //-         span.glyphicon.glyphicon-cloud-download
                        //-         |  Download...
                li.dropdown
                    a.dropdown-toggle(href="#" data-toggle="dropdown")
                        span.glyphicon.glyphicon-ok-circle
                        |  Learn
                        b.caret
                    ul.dropdown-menu(role="menu")
                        li
                            a(href="http://www.hl7.org/implement/standards/product_brief.cfm?product_id=337", target="_blank")
                                span.glyphicon.glyphicon-globe
                                |  HL7 CDS Knowledge Artifacts
                        li
                            a(href="https://www.hl7.org/fhir/2016Sep/clinicalreasoning-module.html", target="_blank")
                                span.glyphicon.glyphicon-fire
                                |  HL7 FHIR Clinical Reasoning
                        li.divider
                        li
                            a("(click)"="loadRemoteFile('https://raw.githubusercontent.com/cqframework/knartwork/master/examples/hl7-cds-ka-r1.3/FLACC_DocTemplate.xml')")
                                span.glyphicon.glyphicon-folder-open
                                |  Example: Documentation Template: FLACC
                        li
                            a("(click)"="loadRemoteFile('https://raw.githubusercontent.com/cqframework/knartwork/master/examples/hl7-cds-ka-r1.3/UTI_DocTemplate.xml')")
                                span.glyphicon.glyphicon-folder-open
                                |  Example: Documentation Template: UTI
                        li
                            a("(click)"="loadRemoteFile('https://raw.githubusercontent.com/cqframework/knartwork/master/examples/hl7-cds-ka-r1.3/PHQ9_DocTemplateWithAssessment.xml')")
                                span.glyphicon.glyphicon-folder-open
                                |  Example: Documentation Template: PHQ-9 Assessment
                        li
                            a("(click)"="loadRemoteFile('https://raw.githubusercontent.com/cqframework/knartwork/master/examples/hl7-cds-ka-r1.3/NQF0024A_NQF0421.xml')")
                                span.glyphicon.glyphicon-folder-open
                                |  Example: Rule: Weight Assessment and Counseling
                        li
                            a("(click)"="loadRemoteFile('https://raw.githubusercontent.com/cqframework/knartwork/master/examples/hl7-cds-ka-r1.3/newMentor_HeD_NQF0068_ECArule_example.xml')")
                                span.glyphicon.glyphicon-folder-open
                                |  Example: Rule: Ischemic Vascular Disease


                        li.divider
                        li
                            a(href="https://github.com/cqframework/knartwork", target="_blank")
                                span.glyphicon.glyphicon-comment
                                |  Bug Reports &amp; Feature Requests

            //- ul.nav.navbar-nav.navbar-right.navbar-brand
                li
                    | KNART
                    span.text-info work
                    //- | ::
                    span.subtitle  community knowledge artifact editor
            //- li.dropdown
                a.dropdown-toggle(data-toggle="dropdown")
                    span.glyphicon.glyphicon-cog
                    |  System
                    b(class="caret")
                ul.dropdown-menu
                    li TODO
